body{
    background: #060606;
    display: flex;
    
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url(https://i.imgur.com/XbRg9D7.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed
  
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}

.card {
  background-color: #ffffff80;
  padding: 30px;
  border-radius: 4%;
  box-shadow: 3px 3px 1px 0px #00000060;
  width: 400px;
}

h1{
  text-align: center;
  margin-bottom: 20px;
  color: #0d009c
}

.label-float input{
  width: 100%;
  padding: 5px 5px;
  display: inline-block;
  border: 0;
  border-bottom: 2px solid #0d009c;
  background-color: transparent;
  outline: none;
  min-width: 180px;
  font-size: 16px;
  transition: all .3s ease-out;
  border-radius: 0;
  
}

.label-float{
  position: relative;
  padding-top: 13px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.label-float input:focus{
  border-bottom: 2px solid #4038a0;
}

.label-float input:focus + label,
.label-float input:valid + label{
  font-size: 13px;
  margin-top: 0;
  color: #4038a0
}

button{
  background-color: transparent;
  border-color: #0d009c;
  color: #0d009c;
  padding: 7px;
  font-weight: bold;
  font-size: 12pt;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: all .4s ease-out;
}

button:hover{
  background-color: #0d009c;
  color: #fff;
}

.justify-center{
  display: flex;
  justify-content: center;
}

.fa-eye{
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  color: #0d009c;
}

#msgError{
  text-align: center;
  color: #ff0000;
  background-color: #ffbbbb;
  padding: 10px;
  border-radius: 4px;
  display: none;
}

#msgSuccess{
  text-align: center;
  color: #00bb00;
  background-color: #bbffbe;
  padding: 10px;
  border-radius: 4px;
  display: none;
}


.section_image--grande{
    width: 500px;
    position: fixed;
    
    height: 500px;
    border-radius: 30px;
    overflow: hidden;
    background-image: url(./aa.png);
    box-shadow: 0 0 20px 10px rgba(196, 12, 233, 0.1);
}
.section_image--grande img{
    width: 100%;
}

.box{
    position: relative;
    width: 500px;
    height: 500px;
    transform-style: preserve-3d;
}

.stars-1{
    position: absolute;
    top: 0;
    left: 100;
    width: 8000px;
    z-index: 3;
    transform-style: preserve-3d;
    transform: scale(1.5) translate3d(0,0, -100px) ;

}
.stars-2{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px !important;
    z-index: 4;
    transform-style: preserve-3d;
    transform: scale(1.5) translate3d(0,0, -50px);

}
.marte{
    z-index: 6;
    position: absolute;
    display: block;
    left: -30px;
    width: 300px !important;
    height: 300px;
    left: 80px;
    top: 13%;
    transform-style: preserve-3d;
    transform: translate3d(0,0, 40px);
}






